body{
    font-family: arial, sans-serif;
}
.search-container{
    margin-top: 20px;
    margin-bottom: 20px;
  
}
h1{
    text-align: center;
    font-family: Andale Mono, monospace;
    font-weight: bold;
 
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
thead{
    background-color:rgb(198, 231, 198)  
}

th, td ,thead{
  border: 1px solid #111010;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
  }